/* styling the body */
body{

    margin: 0;
    background-image: url(./assets/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    background-color: #046e69;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

h1{
    margin: 0;
}



#container {
    text-align: center;
    padding: 6rem;
}

.cat-container {
    background-color: #659ca3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    
}

#cat-image {
    height: 50vh;
    width: 50vh;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#new-cat-button {
    
    margin-left:750px;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#new-cat-button:hover {
    background-color: indianred;
}

