/* styling the body */
body {
  margin: 0;
  background-image: url(./assets/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #046e69;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin: 0;
}

#container {
  text-align: center;
  padding: 4rem;
}

.cat-container {
  background-color: rgba(7, 121, 115, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

/* keyframes for pulsing the cat image */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#cat-image {
  height: 50vh;
  width: 50vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  animation: pulse 4s infinite;
}

/* media query to adjust the cat image size on mobile devices */
@media (max-width: 768px) {
    #cat-image {
      height: auto; /* Allow the image to scale with its width */
      width: 100%; /* Set the image width to 100% of its container */
      max-width: 100%; /* Ensure the image doesn't exceed its container's width */
      margin-bottom: 1rem;
      animation: none; /* Remove the pulsing animation on mobile */
    }
  }
  
/* new cat button styling */
#new-cat-button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#new-cat-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
#new-cat-button:active:after {
  background: transparent;
}

#new-cat-button:hover:before {
  opacity: 1;
}

#new-cat-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#new-cat-button:hover {
  background-color: indianred;
}

/* favourite button styling */

#favorite-button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#favorite-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
#favorite-button:active:after {
  background: transparent;
}

#favorite-button:hover:before {
  opacity: 1;
}

#favorite-button:hover {
  background-color: indianred;
}

#favorite-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* share button styling */

#share-button {
  background-color: #1c1d44; /* twitter brand color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#share-button:hover {
  background-color: indianred;
}

/* Add this CSS for the liking buttons and vote count */
.like-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#like-button,
#dislike-button {
  background-color: #e5ebeb;
  color: #0c0b0b;
  padding: 0 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  line-height: 24px;
}

#like-button:hover,
#dislike-button:hover {
  background-color: indianred;
}

#likes-count {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(255, 244, 226);
}
